<nb-card (click)="toggleCronTask()" [ngClass]="{'off': !cronTask.is_active}">
    <div class="icon-container">
        <div class="icon {{ type }}">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="details">
        <div class="title">{{ cronTask.name }}</div>
        <div class="description">Url to get: {{cronTask.url}}</div>
        <div class="description">Will be executed: {{ cronTask.next_execution_time | amFromUnix | amCalendar }}</div>
        <div class="status">{{ cronTask.is_active ? 'ON' : 'OFF' }}</div>
    </div>
</nb-card>