<nb-layout>
    <nb-layout-header>
        <div class="row align-items-center">
            <div class="col">HTTP Cron task control panel</div>
            <div class="col" [ngClass]="{'good': technicalStatus == 'good', 'bad': technicalStatus == 'bad'}">Status: {{ status }}</div>
        </div>
    </nb-layout-header>
    <nb-layout-column>
        <div class="row">
            <div *ngFor="let cronTask of cronTasks" class="col-xxxl-3 col-md-6">
                <app-cron-task-card [cronTask]="cronTask" type="primary">
                    <i class="nb-compose"></i>
                </app-cron-task-card>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>